// src/app/features/catalog/pages/product-detail/product-detail.component.scss
::ng-deep {
  .p-breadcrumb {
    @apply bg-transparent border-none p-0;

    &-list {
      @apply gap-1 overflow-x-auto;
    }

    &-item {
      @apply text-xs text-nowrap py-2;

      &:not(:last-child) &-link {
        @apply text-gray-500 hover:text-primary-600;
      }

      &:last-child &-link {
        @apply text-gray-900 font-medium;
      }

      &-label {
        @apply text-inherit;
      }
    }

    &-separator .p-icon {
      @apply w-3 h-3;
    }
  }
}

::ng-deep .product-carousel {
  @apply w-full h-full;

  .p-carousel {
    &,
    &-content-container,
    &-content,
    &-viewport,
    &-item-list {
      @apply w-full h-full;
    }

    &-content-container,
    &-content {
      @apply overflow-hidden;
    }

    // Custom navigation buttons
    &-prev-button,
    &-next-button {
      @apply w-8 h-8 md:w-10 md:h-10 bg-primary-50 border border-primary-500 md:border-none absolute md:bg-transparent rounded-lg md:rounded-full transition-all duration-300;
      @apply flex items-center justify-center;
      z-index: 1;
    }

    .carousel-prev-icon,
    .carousel-next-icon {
      @apply text-primary-500 w-5 h-5 md:w-7 md:h-7;
    }

    &-prev-button {
      @apply left-2;
    }
    &-next-button {
      @apply right-2;
    }
  }
}

::ng-deep .product-details-tabs {
  .p-tablist {
    &-tab-list {
      @apply border-b;
    }

    &-nav-button {
      @apply bg-white/80 backdrop-blur-md;
    }
  }

  .p-tab {
    @apply bg-transparent text-sm sm:text-base font-medium;

    &-active {
      @apply text-primary-600;
      box-shadow: inset 0 -2px currentColor, 0 1px 0 0 currentColor;
    }
  }
}

.scrollable {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400;
  }
}

@media (max-width: 1180px) {
  .product-main-section {
    .galary,
    .product-info {
      @apply flex-1;
    }
  }
}

@media (max-width: 900px) {
  .product-main-section .galary {
    .thumbnail-images {
      @apply hidden;
    }
  }

  .cart-button {
    @apply w-14 flex-none;

    span {
      display: none;
    }
  }
  .buy-now-button {
    @apply flex-1;
  }

  .price-info {
    @apply flex-col gap-0;
  }
}
