<p-popover #menu (onHide)="isMenuOpen = false">
  <div class="flex border border-gray-200 overflow-hidden shadow-lg rounded-lg">
    <ul *ngIf="!isLoading && catalogData">
      <li
        *ngFor="let category of catalogData.categories"
        (mouseenter)="setActiveCategory(category)"
        class="relative hover:bg-gray-100 border-b last:border-b-0 border-b-gray-200 border-l-2 border-l-transparent py-2 px-4 cursor-pointer"
        [ngClass]="{ '!border-l-primary-500 ': activeCategory?.id === category.id }">
        <button class="w-full text-left transition-all duration-200 flex items-center justify-between gap-3">
          <div class="flex items-center gap-3">
            <i [class]="category.icon" class="text-base"></i>
            <span class="text-sm font-medium">{{ category.name }}</span>
          </div>
          <i class="pi pi-angle-right text-sm"></i>
        </button>
      </li>
    </ul>

    <div *ngIf="activeCategory" class="p-8 border-l border-l-gray-200">
      <div class="grid grid-cols-12 gap-x-14 gap-y-6">
        <div *ngFor="let sub of activeCategory.children" class="col-span-4">
          <h4 class="font-medium text-base text-black">{{ sub.name }}</h4>
          <div class="flex flex-col gap-2 mt-2">
            <a
              *ngFor="let leaf of sub.children"
              [routerLink]="['/catalog', activeCategory.slug, sub.slug, leaf.slug]"
              class="w-fit text-sm text-gray-700 hover:text-gray-900 relative inline-block after:absolute after:left-0 after:-bottom-[2px] after:h-[1px] after:bg-gray-900 after:w-0 after:transition-all after:duration-300 hover:after:w-full">
              <span> {{ leaf.name }} </span>
            </a>
            <a
              [routerLink]="['/catalog', activeCategory.slug, sub.slug]"
              class="w-fit text-sm text-gray-700 hover:text-gray-900 relative inline-block after:absolute after:left-0 after:-bottom-[2px] after:h-[1px] after:bg-gray-900 after:w-0 after:transition-all after:duration-300 hover:after:w-full">
              Все товары
            </a>
          </div>
        </div>
      </div>

      <a
        [routerLink]="['/catalog', activeCategory.slug]"
        class="w-fit mt-4 text-sm font-medium text-primary-600 hover:text-primary-700 relative inline-block after:absolute after:left-0 after:-bottom-[2px] after:h-[1px] after:bg-primary-700 after:w-0 after:transition-all after:duration-300 hover:after:w-full">
        Все товары в {{ activeCategory.name }}
      </a>
    </div>
  </div>
</p-popover>

<p-drawer [(visible)]="isDialogOpen" [blockScroll]="true" position="full" styleClass="catalog-drawer">
  <ng-template #header>
    <h3 class="text-xl font-semibold text-gray-900">Все категории</h3>
  </ng-template>
  <ng-template #content>
    <div class="pl-2 pr-6 py-2">
      <div class="flex flex-col gap-6">
        <div *ngFor="let cat of catalogData?.categories; trackBy: trackByCategory">
          <button (click)="toggleAccordionPanel(cat.id)" class="w-full flex items-center justify-between text-sm text-gray-700 transition-colors">
            <div class="flex items-center gap-2">
              <i class="{{ cat.icon }}"></i>
              <span>{{ cat.name }}</span>
            </div>
            <i class="text-xs transition-transform duration-200" [class]="isAccordionPanelOpen(cat.id) ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></i>
          </button>
          <div class="overflow-hidden transition-all duration-300 ease-in-out" [class]="isAccordionPanelOpen(cat.id) ? 'max-h-96 opacity-100' : 'max-h-0 opacity-0'">
            <div class="flex flex-col gap-2 ml-1 pl-5 pt-2 border-l-2 border-l-primary-500">
              <a
                [routerLink]="['/catalog', cat.slug]"
                (click)="closeDrawer()"
                class="w-fit text-sm text-gray-700 active:text-gray-900 relative inline-block after:absolute after:left-0 after:-bottom-[2px] after:h-[1px] after:bg-gray-900 after:w-0 after:transition-all after:duration-300 active:after:w-full">
                Все товары
              </a>
              <a
                *ngFor="let sub of cat.children"
                [routerLink]="['/catalog', cat.slug, sub.slug]"
                (click)="closeDrawer()"
                class="w-fit text-sm text-gray-700 active:text-gray-900 relative inline-block after:absolute after:left-0 after:-bottom-[2px] after:h-[1px] after:bg-gray-900 after:w-0 after:transition-all after:duration-300 active:after:w-full">
                <span> {{ sub.name }} </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
